<html>
 <head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"></head>
 <body>
           <div class="container">
           <form class="form-horizontal" action="/register" method="POST">
 
    <div class="form-group">
      <label for="email" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="UserName" class="col-lg-2 control-label">User Name</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="userName" placeholder="User Name">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-4">
        <input type="password" class="form-control" name="password" 
        placeholder="password">
      </div>
    </div>
   <div class="form-group">
      <div class="col-lg-4 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    </form>
           </div>
           
 </body>
</html>